app-sidebar {
  width: 250px;
  flex-shrink: 0;
}
.content-area {
  flex: 1;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  margin-top: 50px; /* offset for header */
  height: calc(100vh - 65px);
}
.image-preview-container {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* center the image */
  align-items: center;
}

.image-preview {
  max-width: 20px;       /* limit width */
  max-height: 20px;      /* limit height */
  object-fit: cover;      /* crop if needed to maintain aspect ratio */
  border: 2px solid #ccc; /* subtle border */
  border-radius: 8px;     /* rounded corners */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* soft shadow */
}
