app-sidebar {
  width: 250px;
  flex-shrink: 0;
}
.content-area {
  flex: 1;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-container {
  display: flex;
  margin-top: 50px; /* offset for header */
  height: calc(100vh - 65px);
}
select option[value=""] {
  color: #888;
}
