<div class="layout-container">
  <app-sidebar></app-sidebar>

  <!-- Main Dashboard Area -->
  <div class="content-area">
  <div class="form-box">
    <h2>Issues form</h2>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" novalidate>

      <!-- Name -->
     <div class="form-group">
      Choose Issue Department*
  <select name="issuedept" [(ngModel)]="dept" required #issueDeptRef="ngModel" >
    <option value="gym">Gym</option>
    <option value="security">Security</option>
    <option value="cleaning">Cleaning</option>
    <option value="canteen">Canteen</option>
    <option value="other">Other</option>

  </select>
</div>

  <div *ngIf="issueDeptRef.invalid && issueDeptRef.touched" class="text-danger">
    <small>Please select the department </small>
 
</div>
 
 <!--Description -->
      <div class="form-group">
        <input type="text" placeholder="Description*" name="description"
               [(ngModel)]="description" required #descriptionRef="ngModel" />
        <div *ngIf="descriptionRef.invalid && descriptionRef.touched" class="text-danger">
          <small>Please describe the issue</small>
        </div>
      </div>

      <!--Location -->
      <div class="form-group">
        <input type="text" placeholder="Location*" name="location"
               [(ngModel)]="location" required #locationRef="ngModel" />
        <div *ngIf="locationRef.invalid && locationRef.touched" class="text-danger">
          <small>Please specify the location</small>
        </div>
      </div>

     

      <!-- Image Upload -->
<div class="form-group">
  <label for="image">Upload Item Image</label>
  <input type="file" id="image" name="image"
         (change)="onFileSelected($event)" accept="image/*" />
</div>

      
      <!-- Submit -->
      <button type="submit" class="register-btn"
        [disabled]="registerForm.invalid">
        SUBMIT
      </button>
    </form>
  </div>

  </div>
</div>
