.container {
  max-width: 400px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

form{
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input, select {
  padding: 8px;
  font-size: 14px;
}
h2{
    background-color: #007bff;
    color: white;
   
    justify-content: center;
}

button.register-btn {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
    width: 100%;
}
