<div class="container"><div class="content area">
  <h2>Your Issues</h2>

<div *ngIf="foundItems.length === 0">
  <p>You have not reported any issues yet.</p>
</div>

<table *ngIf="foundItems.length > 0" class="report-table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Location</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of foundItems">
      <td>{{ item.itemName }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.location }}</td>
      <td>{{ item.email }}</td>
    </tr>
  </tbody>
</table>
</div></div>