/* ============================
   Page Center Layout
=============================== */
.forgot-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Card box */
.forgot-card {
  width: 350px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}

/* Title */
.forgot-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.5rem;
}

/* ============================
   Input Fields
=============================== */
.forgot-card input {
  width: 100%;
  padding: 10px;
  border: 1px solid #1a1a1a;
  border-radius: 6px;
  margin-top: 0.5rem;
  font-size: 15px;
}

.forgot-card input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
  outline: none;
}

/* ============================
   Submit Button*/
.submit-btn {
  
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  transition: background 0.2s;
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* OTP Section (if needed for highlight) */
.otp-box {
  margin-top: 1.5rem;
  padding: 1rem;
  border: 1px dashed #007bff;
  border-radius: 5px;
  background: #f8faff;
}
/*.danger-btn {
  width: 100%;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}*/
.action-row {
  display: flex;
  justify-content: space-between; /* Left + Right alignment */
  align-items: center;
  margin-top: 1rem;
}

.submit-btn {
  width: auto; /* so both buttons are similar size */
  padding: 10px 14px;
}

.danger-btn {
  background-color: #dc3545;
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.danger-btn:hover {
  background-color: #b72b38;
}
