<div class="forgot-container">
  <div class="forgot-card">
    <h2 class="forgot-title">Forgot Password</h2>

    <!-- Step 1: Email -->
    <form #emailForm="ngForm" *ngIf="!showOtpForm" (ngSubmit)="sendOtp(emailForm)">
      <label>Enter Email:</label>
      <input type="email" name="emailOrUsn" [(ngModel)]="emailOrUsn" required />
        <div class="action-row">
      <button class="submit-btn" type="submit">Send OTP</button>
      <button class="danger-btn" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>

    <!-- Step 2: OTP + New Password -->
    <form #otpForm="ngForm" *ngIf="showOtpForm" (ngSubmit)="verifyOtpAndResetPassword(otpForm)">
      <label>Enter OTP:</label>
      <input type="text" name="otp" [(ngModel)]="otp" required />

      <label>New Password:</label>
      <input type="password" name="newPassword" [(ngModel)]="newPassword" required minlength="8"#newpasswordRef="ngModel" />
        <div *ngIf="newpasswordRef.invalid && newpasswordRef.touched" class="text-danger">
          <small *ngIf="newpasswordRef.errors?.['required']">Password is required 🔒</small>
          <small *ngIf="newpasswordRef.errors?.['minlength']">Minimum 8 characters</small>
        </div>
      

      <label>Confirm Password:</label>
      <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required minlength="8" #passwordRef="ngModel" />
        <div *ngIf="passwordRef.invalid && passwordRef.touched" class="text-danger">
          <small *ngIf="passwordRef.errors?.['required']">Password is required 🔒</small>
          <small *ngIf="passwordRef.errors?.['minlength']">Minimum 8 characters</small>
        </div>
        <div class="action-row">
      <button class="submit-btn" type="submit" [disabled]="otpForm.invalid">Reset Password</button>
      <button class="danger-btn" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
