.landing-container {
  text-align: center;
  margin-top: 15%;
  color: white;
}

.brand {
  color: #ffd700;
}

.buttons {
  margin-top: 30px;
}

button {
  margin: 10px;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
