<div class="container">
  <div class="form-box">
    <h2>LOGIN</h2>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
      <!-- USN -->
      <div class="form-group">
        <input type="text"
               placeholder="USN/Id*"
               name="usn"
               [(ngModel)]="usn"
                required
               #usnRef="ngModel" />
        <div *ngIf="usnRef.invalid && usnRef.touched" class="text-danger">
          <small *ngIf="usnRef.errors?.['required']">USN/Id is required </small>
          <!--<small *ngIf="usnRef.errors?.['pattern']">Invalid USN format (e.g. 1RN21CS001)</small>-->
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <input type="password"
               placeholder="Password*"
               name="password"
               [(ngModel)]="password"
               required
               minlength="8"
               #passwordRef="ngModel" />
        <div *ngIf="passwordRef.invalid && passwordRef.touched" class="text-danger">
          <small *ngIf="passwordRef.errors?.['required']">Password is required 🔒</small>
          <small *ngIf="passwordRef.errors?.['minlength']">Minimum 8 characters</small>
        </div>
      </div>

     <div class="center-btn">
  <button type="submit"
          class="btn btn-success"
          [disabled]="loginForm.invalid">
    SIGN-IN
  </button>
</div>


      <!-- Forgot Password / Sign Up -->
      <div class="login-links" style="margin-top: 1rem; text-align: center;">
        <a href="#" (click)="onForgotPassword($event)">Forgot Password?</a> |
        <a href="#" (click)="onSignup($event)">Sign Up</a>
      </div>
    </form>
  </div>
</div>
