app-sidebar {
  width: 250px;
  flex-shrink: 0;
}
.content-area {
  flex: 1;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  margin-top: 50px; /* offset for header */
  height: calc(100vh - 65px);
}
.preview-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.preview-img {
  width: 150px;
  height: 150px;
  object-fit: cover; /* prevents stretching */
  border-radius: 8px;
  border: 2px solid #ddd;
}
